body{
  margin: 0;
  padding: 0;
}



.video{

  width: 100%;


  overflow: hidden;

}
.video2{
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.a1_white{
  z-index: 999;
  width: 100%;
  position: absolute;
  top: 40%;
  
 
 
}
.img-game{
  width: 50%;
  margin: auto;
}
.img2{
  width: 30%;
}
@media (max-width:830px) 
{
 .img-game{
  width: 80%;
 }
 .img2{
  width: 200px;
 }
  
}
